{% extends 'main/base.html' %}
{% load static %}
    {% block content %}
        <div class="furniture-middle">
            <div class="big-box">
                <div class="big-img-box">
                    <img width="400" height="400" src="/media/{{ blog.image }}" alt="#" />
                </div>
                    <div class="big-dit-b clearfix">
                        <div class="col-md-3">
                            <div class="left-big">
                                <h3>{{ object.title }}</h3>
                                <p>{{ object.content }}</p>
                            </div>
                        </div>
                    </div>
            </div>


    {% endblock %}